# Python
__pycache__/
*.py[cod]
.venv/
.env

# Binários
bin/

#Dados
data/*
!data/.gitkeep

# Spark/Hadoop
.ipynb_checkpoints
derby.log
metastore_db/
spark-warehouse/
*.parquet
*.json

# IDEs
.vscode/
.idea/