__pycache__/
*.py[cod]
.venv/
.env
bin/
data/bronze/*
data/silver/*
data/gold/*
!**/.gitkeep
logs/
.ipynb_checkpoints
derby.log
metastore_db/
spark-warehouse/
*.parquet
*.json
.vscode/
.idea/
.docker/